.bg-image {
  background-image: url("../../assets/Background/Rectangle.png");
}

@media screen and (max-width: 600px) {
  .bg-image {
    padding: 1.25rem; /* Equivalent to p-5 in Tailwind CSS */
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 14pt;
    text-align: justify;
  }
}
@media screen and (max-width: 2081px) {
  .title {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1366px) {
  .title {
    font-size: 2rem;
  }
}
