/* Login.css
@media (max-width: 1366px) {
  .login-card {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .login-card {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .login-card {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .login-card {
    width: 90%;
  }
} */
